@if (ShowLine)
{
    <div class="lineLoader"></div>
}

<style>
    .lineLoader {
        display: flex;
    }

    .lineLoader:before {
        content: "";
        position: absolute;
        left: -50%;
        height: 70px;
        width: 100%;
        animation: lineAnim 1s cubic-bezier(0.4, 0, 0.2, 1) infinite;
        background-color: rgba(200, 200, 200, 0.15);
    }
</style>